<mat-card class="card" aling="center">
  <mat-card-header class="header">

    <mat-card-title class="title">
      Error!
    </mat-card-title>

  </mat-card-header>

  <img mat-card-image src="../../../../assets/img/conifer-page-not-found.png" alt="Photo of a Shiba Inu">

  <mat-card-content class="content">
    <p mat-dialog-content>{{ data }}</p>
  </mat-card-content>

  <mat-card-actions>
    <div mat-dialog-actions align="center">
      <button mat-stroked-button color="warn" mat-dialog-close>Close</button>
    </div>
  </mat-card-actions>
</mat-card>
